<launch>
  <arg name="station_id" default="0"/>
    <node pkg="swarm_bridge" name="station_bridge_node_tcp" type="tcp_station" output="screen">

      <param name="self_id" value="$(arg station_id)"/>
      <param name="is_ground_station" value="true"/>
      <param name="drone_num" value="13"/>
        <param name="drone_ip_0" value="192.168.1.150" type="string"/>
        <param name="drone_ip_1" value="192.168.1.151" type="string"/>
        <param name="drone_ip_2" value="192.168.1.152" type="string"/>
        <param name="drone_ip_3" value="192.168.1.153" type="string"/>
        <param name="drone_ip_4" value="192.168.1.154" type="string"/>
        <param name="drone_ip_5" value="192.168.1.155" type="string"/>
        <param name="drone_ip_6" value="192.168.1.156" type="string"/>
        <param name="drone_ip_7" value="192.168.1.157" type="string"/>
        <param name="drone_ip_8" value="192.168.1.158" type="string"/>
        <param name="drone_ip_9" value="192.168.1.159" type="string"/>
        <param name="drone_ip_10" value="192.168.1.160" type="string"/>
        <param name="drone_ip_11" value="192.168.1.161" type="string"/>
        <param name="drone_ip_12" value="192.168.1.162" type="string"/>

      <param name="ground_station_num" value="1"/>
      <param name="ground_station_ip_0" value="192.168.1.200" type="string"/>
    </node>

</launch>
